---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const notes = await getCollection("notes");
---

<Layout title="Pufferbommy | Notes">
  <main>
    <div class="notes">
      {notes.map(({slug, data: {image, title, date}}) => (
        <a
        href={`/notes/${slug}`}
        class="card"
        >
          <div class="image">
            <img src={image} alt={title} />
          </div>
          <div class="content">
            <p class="date">{date}</p>
            <h2 class="name">
              {title}
            </h2>
          </div>
        </a>
      ))}
    </div>
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: 2rem;
  }

  .note {
    background-color: var(--muted);
    border-radius: 0.5rem;
    aspect-ratio: 1;
    padding: 1rem;
  }
</style>